body{
    font-family: arial;
	margin: 0;
}
#block-example-branding {
    background: #2874f0;
}
#block-example-branding a {
color: #fff;
display: block;
width: 1200px;
margin: 0 auto;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-size: 42px;
padding: 35px 0 30px;
text-shadow: 2px 2px 2px #f00;
}
.layout-content {
    width: 1200px;
    margin: 0 auto;
}
.myIsotopeFilter ul{
margin: 0;
padding: 0;
}
.myIsotopeFilter ul li{
list-style: none;
margin-right: 5px;
display: inline-block;
width: auto;
}
.myIsotopeFilter ul li a{
color: #fff;
background: #2874f0;
border: 2px solid #2874f0;
text-decoration: none;
font-size: 17px;
padding: 12px 30px 9px;
display: block;
}
.myIsotopeFilter ul li a:hover{
color: #2874f0;
background: #fff;
}
.myIsotopeContainer ul li {
border: 1px solid #ccc;
padding: 5px;
margin-right: 10px;
margin-bottom: 10px;
list-style: none;
min-height: 360px;
}
.tile-image-main {
    position: relative;
}
.tile-tags {
    position: absolute;
    top: 10px;
    right: 10px;
}
.tile-image-main .fontawesome-icons {
    background-color: #2874f0;
    padding: 7px 7px 6px;
    margin-bottom: 5px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.tile-title a {
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: goldenrod;
    font-weight: bold;
}
.tile-link a {
    padding: 0 15px 10px;
    display: block;
    color: #767676;
    font-size: 17px;
    text-decoration: none;
}
.tile-image-main img {
    width: 270px;
    height: 270px;
}
.views-field-nothing {
    width: 270px;
}
h1 {
    color: #2874f0;
    border-bottom: 1px solid #2874f0;
    padding-bottom: 10px;
    margin-top: 30px;
}
footer {
    background: #172337;
    color: #fff;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.video-embed-field-launch-modal::before {
content: "";
font-size: 0;
position: absolute;
left: 10px;
bottom: 10px;
height: 75px;
width: 75px;
background-image: url("play-icon.png");
background-size: 100%;
background-color: transparent;
color: transparent;
overflow: hidden;
background-repeat: no-repeat;
}






















